* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 188, 188);
    padding: 10px;
}

.logo {
    width: 80px;
}

li {
    list-style: none;
    font-size: 20px;
}

li:hover {
    color: blue;
    cursor: pi;
}

.menu-container {
    display: flex;
    gap: 20px;
}

.banner-image {
    width: 350px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    /* background-image: url("./IMAGES/background.avif") */
}

.banner-left {
    width: 400px;
    line-height: 2.5;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.hire-btn {
    background-color: rgb(47, 30, 64);
}

.project-btn {
    background-color: rgb(19, 104, 201);
}

.title {
    font-size: 45px;
}

.service-container {
    margin-top: 30px;
}

.service-title {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}

.service-card {
    width: 300px;
    height: 430px;
    border: 1px solid gray;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

.service-img {
    width: 250px;
}

.service-card-btn {
    padding: 15px 25px;
    background-color: rgb(131, 138, 138);
    border: none;
    font-size: 18px;
    color: white;
}

.service-description {
    margin: 10px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.contact-us {
    padding: 50px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    box-shadow: 4px 4px 8px gray;
}

.input-box {
    padding: 10px;
    width: 50%;
    margin-top: 10px;
}

.message {
    width: 40%;
    height: 100px;
    margin-top: 15px;
}

.submit-btn {
    width: 25%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 20px;
}