* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 188, 188);
    padding: 10px;
}

.logo {
    width: 80px;
}

li {
    list-style: none;
    font-size: 20px;
}

li:hover {
    color: blue;
    cursor: pointer;
}

.menu-container {
    display: flex;
    gap: 20px;
}