* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 188, 188);
    padding: 10px;
}

.logo {
    width: 80px;
}

li {
    list-style: none;
    font-size: 20px;
}

li:hover {
    color: blue;
    cursor: pi;
}

.menu-container {
    display: flex;
    gap: 20px;
}

.banner-image {
    width: 350px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.banner-left {
    width: 400px;
    line-height: 2.5;
}

